*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.debug{

    background-color: #ff0000;

}

body{

    max-width: 1152px;
    height: 100vh;
}

.container{

    width:100vw;
    margin: auto;
    background-color: #000000;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.speaker_view{

    height: 20px;
    width: 130px;
    border: 2px solid black;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;

}

#pic_container{

    height: 85%;
    width: 90%;
    border: 2px solid black;
    background-color: #ff0000;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  
}



.picture{

    height: 100px;
    /* width: 50px; */
    border: 2px solid black;
    background-color: #ff0000;
    width: calc(100% / 35 * 5);
    padding: 1rem;
    
}

.bar_container{

    height: 10vh;
    width: 100vw;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.call_set{

    height: 100%;
    width: 160px;
    background-color: #ffffff;
    display: flex;

}

#microphone_set, #video_set{

    height: 100%;
    width: 80px;
    border: 2px solid black;
    background-color: #ff0000;
}

#setting_zoom{

    height: 100%;
    width: 500px;
    border: 2px solid black;
    background-color: #ff0000;

}

#end_meeting{

    height: 100%;
    width: 100px;
    border: 2px solid black;
    background-color: #ff0000;

}