*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* default set */

body{

    max-width: 1152px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* body structure */

.container{

    width:100vw;
    margin: auto;
    background-color: #000000;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.speaker_view{

    height: 20px;
    width: 130px;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    color: white;
    margin: auto;

}

#view, #expand, .name{

    background-color: #83828287;
    padding: 2px;
    border-radius: 5px;
}



#pic_container{

    height: 85%;
    width: 90%;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  
}



.picture{

    height: 100px;
    /* width: 50px; */
    border: 2px solid black;
    width: calc(100% / 35 * 5);
    background-image: url('https://picsum.photos/200');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}

.name{

    position: absolute;
    bottom: 0;
    color: white;
    font-size: 10px;
    

}

.bar_container{

    height: 10vh;
    width: 100vw;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.call_set{

    height: 100%;
    width: 160px;
    display: flex;

}

.icon_container{

    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;

}


#setting_zoom{

    height: 100%;
    width: 550px;
    display: flex;
    font-size: 12px;


}

.detail_text{

    position: absolute;
    bottom: 0;
    left: 15px;
}

#icon{

    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 25px;
}

#arrow{

    
    position: absolute;
    left: 64px;
    top: 36px;
    font-size: 10px;
    

}


#end_meeting{

    height: 100%;
    width: 100px;
    border: 2px solid black;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

#end_meet{

    color: #c4211e;
    margin: auto;
    font-size: 14px;
    font-weight: bolder;

}